@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Inclui margin e padding nas medidas das caixas. */
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(https://wallpapers.com/images/hd/ambient-background-2uu28xmq84q7sxbb.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    width: 420px;
    background-color:rgba(2, 1, 49, 0.3);
    backdrop-filter: blur(5px);
    border: 2px solid rgba(0, 255, 251, .3);
    border-radius: 10px;
    color: #c5f7ff;
    padding: 30px 40px; /*(TRBL - Top, Right, Bottom, Left). Nesse caso, 1º: Topo/Inferior | 2º: Direita/Esquerda */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container h1{
    text-align: center;
    font-size: 36px;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0px;
}
.input-box input{
    width: 100%;
    height: 100%; /* para ocupar apenas os 50px do input-box, sem risco de ultrapassagem/sobreposição*/
    outline-color: turquoise;/*ou outine: none, para remover a outline*/
    background-color: transparent;
    border: 2px solid rgba(0, 255, 251, 0.3); 
    border-radius: 50px;
    color: #e2fbff;
    font-size: 16px;
    padding: 20px 45px;
}

.input-box input::placeholder{
    color: #c5f7ff;
}

.input-box i{
    color: #c5f7ff;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
    /* margin-bottom: -15px;  aproxima o item sujacente 15px, sem que o elemento que contém a margem saia do lugar*/
}

.remember-forgot label input{
    accent-color:turquoise;
    margin-right: 5px;
}

.remember-forgot a{
    text-decoration: none;
    color: #c5f7ff;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.login{
    background-color: turquoise;
    color: rgb(3, 19, 124);
    font-weight: 600;
    width: 100%;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 20px;
}

.login:hover{
    background-color: transparent;
    backdrop-filter: blur(5px);
    border: 2px solid turquoise;
    color: #e2fbff;
    transition: 0.5s;
}

.register-link{
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link a{
    text-decoration: none;
    color: #c5f7ff;
    font-weight: 500;
}

.register-link a:hover{
    transition: 0.5s;
    color: rgb(72, 255, 237);
    text-shadow: 0 0 5px turquoise;
}


